name: MLOps CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Upload model artifacts to S3
      run: |
        aws s3 cp models/model.tar.gz \
          s3://${{ secrets.S3_BUCKET }}/amazon-reviews/flat_model.tar.gz

    - name: Create or Update SageMaker Model
      run: |
        aws sagemaker create-model \
          --model-name ${{ secrets.MODEL_NAME }} \
          --primary-container \
            Image=720646828776.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3,\
            ModelDataUrl=s3://${{ secrets.S3_BUCKET }}/amazon-reviews/sentiment/v1/model.tar.gz \
          --execution-role-arn ${{ secrets.SAGEMAKER_ROLE_ARN }} \
          --region ${{ secrets.AWS_REGION }} || echo "Model exists"

    - name: Create Endpoint Config
      run: |
        aws sagemaker create-endpoint-config \
          --endpoint-config-name ${{ secrets.MODEL_NAME }}-config \
          --production-variants \
            VariantName=AllTraffic,\
            ModelName=${{ secrets.MODEL_NAME }},\
            InitialInstanceCount=1,\
            InstanceType=ml.m5.large \
          --region ${{ secrets.AWS_REGION }}

    - name: Update Endpoint
      run: |
        aws sagemaker update-endpoint \
          --endpoint-name ${{ secrets.ENDPOINT_NAME }} \
          --endpoint-config-name ${{ secrets.MODEL_NAME }}-config \
          --region ${{ secrets.AWS_REGION }}
